<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PhoneStore{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
    <header class="topbar">
        <div class="container nav-wrap">
            <a href="{% url 'home' %}" class="logo">PhoneStore</a>
            <nav class="nav">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'catalog' %}">Каталог</a>
                <a href="{% url 'cart' %}">Корзина</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
